{
  "trailingComma": "es5",
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "importOrder": [
    "^react$",
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^styled-components$",
    "^@/types(.*)",
    "^@/utils(.*)",
    "^@/layout(.*)",
    "^@/modules(.*)",
    "^@/components(.*)",
    "^@/theme(.*)",
    "^@/animation(.*)",
    "^@/atoms(.*)",
    "^@/molecules(.*)",
    "^@/organisms(.*)",
    "^@/templates(.*)",
    "^@/src(.*)",
    "^@/assets(.*)",
    "@apps(.*)",
    "^[./]",
    "^[.]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx"]
}